.tooltip {
    white-space: nowrap;
    font-size:1rem;

    &.in {
        opacity:1;
        transition: opacity .12s ease-out;
    }

    .tooltip-inner {
        white-space: nowrap;
        max-width: none;
    }
}

// Datatips

.datatip-overlay {
    font-family: inherit;
    box-shadow: none;

    .datatip-container {
        font-size:.83rem; // 10px
        background-color: @black;
        padding: 1em;

        .datatip-marked-container {
            font-family: inherit;
        }

        .datatip-marked-text-editor-container .scroll-view {
            font-size: .83rem !important;
        }

        .atom-typescript-datatip-tooltip-code {
            font-size: 1rem; // 12px
            padding-bottom: 1em;
        }

        .atom-typescript-datatip-tooltip-doc-tag {
            font-size: .83rem;
            color: @dark-white;

            &:first-child {
                padding-top: 1em;
            }
        }

        .datatip-pin-button {
            margin-left: 2em;
        }
    }
}
