.atom-dock-resize-handle.left {
    width: 4px;
    height: 100%;
    z-index: 100;
    position:absolute;
}

.tree-view {
  font-family: 'Inconsolata-g for Powerline';
  & .tree-view-root {
      padding-left: 0px;
      padding-right: 0px;
  }
}

.project-root-header {
    background: @green;
    color: @background;
    padding-left:0.5em;
}

.list-tree {
    padding-left: 0.5em;
}
